<h1>Your Currently Listed Items</h1>

<% @seller_items.each do |seller_item| %>
    <div class="seller_item">
      <% if seller_item.image.attached? %>
        <%= image_tag seller_item.image %>
      <% end %>
      <h2><%= seller_item.name %></h2>
      <p><%= seller_item.price %></p>
      <p><%= seller_item.quantity %></p>
      <p><%= seller_item.details %></p>
    </div>
    <% if seller_signed_in? && current_seller.email == seller_item.seller.email%>
      <p><%= link_to "Edit Listing", edit_item_path(seller_item) %></p>
      <p><%= link_to "Remove Listed Item", item_path(seller_item), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></p>
    <% end %>
<% end %>