<body>
    <%= form_with model: @item do |form| %>
        <div class="form-fields">
            <div class="row-one">
                <div class="form-field">
                    <%= form.label :name %><br>
                    <%= form.text_field :name, class: "form-input field", required: true %>
                    <p class="required">*Required</p>
                    <% @item.errors.full_messages_for(:name).each do |message| %>
                        <div><%= message %></div>
                    <% end %>
                </div>

                <div class="form-field">
                    <%= form.label :price %><br>
                    <%= form.number_field :price, step: 0.01, class: "form-input field", required: true %>
                    <p class="required">*Required</p>
                    <% @item.errors.full_messages_for(:price).each do |message| %>
                        <div><%= message %></div>
                    <% end %>
                </div>

                <div class="form-field">
                    <%= form.label :quantity %><br>
                    <%= form.number_field :quantity, class: "form-input field", required: true %>
                    <p class="required">*Required</p>
                    <% @item.errors.full_messages_for(:quantity).each do |message| %>
                        <div><%= message %></div>
                    <% end %>
                </div>
            </div>
            
            <div class="row-two">
                <div class="form-field">
                    <%= form.label :details %><br>
                    <%= form.text_area :details, class: "form-input" %>
                    <% @item.errors.full_messages_for(:details).each do |message| %>
                        <div><%= message %></div>
                    <% end %>
                </div>

                <div class="form-field">
                    <%= form.label :image %><br>
                    <div class="custom-file-input-wrapper">
                        <%= form.file_field :image, class: "form-input", id: "file-upload", style: "display: none;" %>
                        <button type="button" class="custom-file-button form-input" onclick="document.getElementById('file-upload').click()">Choose File</button>
                        <span id="file-name">No file chosen</span>
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                document.getElementById('file-upload').addEventListener('change', function() {
                                    var fileName = this.files[0].name;
                                    document.getElementById('file-name').textContent = fileName;
                                });
                            });
                        </script>
                    </div>
                    <% @item.errors.full_messages_for(:image).each do |message| %>
                        <div><%= message %></div>
                    <% end %>
                </div>
            </div>
        </div>

        <div>
            <%= form.submit class: "form-button" %>
        </div>
    <% end %>

    
</body>