<body class="index-body">
  <h1 class="index-heading">Current Listings</h1>

  <div class="items">
    <% @items.each do |item| %>
        <div class="item">
          <% if item.image.attached? %>
            <%= image_tag item.image, class: "item-image" %>
          <% end %>
          <h2 class="item-name"><%= item.name %></h2>
          <p class="price"><%= number_to_currency(item.price, unit: "$", precision: 2) %></p>
          <div class="buttons">
            <% unless item.quantity <= 0 %>
              <%= button_to 'Add to Cart', add_item_path(item), method: :post, class: "btn btn-primary" %>
            <% else %>
              <p>SOLD OUT</p>
            <% end %>
            <%= button_to "View Details", item_path(item.id), method: :get %>
          </div>
        </div>
    <% end %>
  </div>
</body>