<h1><%= @item.name %></h1>

<p><strong>Price:</strong> <%= @item.price %></p>
<p><strong>Description:</strong> <%= @item.details %></p>
<% if seller_signed_in? && current_seller.email == @item.seller.email%>
  <p><%= link_to "Edit Listing", edit_item_path(@item) %></p>
  <p><%= link_to "Remove Listed Item", item_path(@item), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></p>
<% end %>

<h3>Seller Contact Info: <%= @item.seller.email %></h3>