<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
        <nav>
          <ul>
            <% if shopper_signed_in? %>
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'Edit Profile', edit_shopper_registration_path %></li>
              <li><%= link_to 'View Your Cart', shopper_path(current_shopper) %></li>
              <li><%= link_to 'Sign Out', destroy_shopper_session_path, method: :delete %></li>
            <% elsif seller_signed_in? %>
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'List New Item', new_item_path %></li>
              <li><%= link_to 'View Your Currently Listed Items', seller_path(current_seller) %></li>
              <li><%= link_to 'Edit Profile', edit_seller_registration_path %></li>
              <li><%= link_to 'Sign Out', destroy_seller_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Shopper Sign In', new_shopper_session_path %></li>
              <li><%= link_to 'Shopper Sign Up', new_shopper_registration_path %></li>
              <li><%= link_to 'Seller Sign In', new_seller_session_path %></li>
              <li><%= link_to 'Seller Sign Up', new_seller_registration_path %></li>
            <% end %>
          </ul>
        </nav>
    </header>
    <%= yield %>
  </body>
</html>
